
.proving{
    width: 1188px;
    margin-left: 6px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    min-height: 730px
}
.proving ul{
    width: 320px;
    margin: 30px 84px;
}
.proving ul li{
    margin-bottom: 20px;
}
.proving ul li p{
    font-size: 20px;
    text-align: center;
}
.proving ul li span{
    font-size: 16px;
}
.proving ul li input{
    width: 230px;
    height: 24px;
    padding-left: 10px;
}
.btn_9{
    text-align: right;
}
.btn_9 button{
    width: 244px;
    margin-right: 4px;
    height: 28px;
    background-color: #428BCA;
    border: 1px solid #428BCA;
    color: #fff;
}
.btn_9 a{
    width: 244px;
    margin-right: 4px;
    height: 28px;
    line-height:28px;
    background-color: #428BCA;
    border: 1px solid #428BCA;
    color: #fff;
    display:inline-block;
    text-align: center;
}