<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.alqsoft.dao.stocktakeapply.StockTakeApplyMyBatisDao">

	<sql id="stockrecord">
		(
			SELECT
			stock.ID,
			goodT.Good_Name,
			goodT.Bar_Code,
			stock.Num,
			stock.Remain_Num,
			stock.Created_Time,
			stock.Remark,
			pt. NAME
			FROM
				StockTakeRecordT stock
			LEFT JOIN InventoryT it ON stock.inventory_id = it.id
			LEFT JOIN GoodT goodT ON it.goods_id = goodT.id
			LEFT JOIN relationshipt rt ON goodt.id = rt.goodid
			LEFT JOIN providert pt ON rt.providerid = pt.id
			<where>
				<if test="Goodname != null and Goodname != ''">
					AND goodT.Good_Name LIKE concat('%',#{Goodname},'%')
				</if>
				<if test="BarCode != null and BarCode != ''">
					AND goodT.Bar_Code = #{BarCode}
				</if>
			</where>
		) t
	</sql>
	<!-- 盘存申请查询 -->
	<select id="findAll" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		SELECT 
		*
		FROM
		stocktakeapply
		<where>
			<if test="begin_time != null and begin_time != ''">
				AND created_time &gt; #{begin_time}
			</if>
			<if test="end_time != null and end_time != ''">
				AND created_time &lt;= #{end_time}
			</if>
		</where>
		ORDER BY
		created_time DESC
		LIMIT
		#{startIndex},#{endIndex}
	</select>

	<select id="getCount" resultType="int">
		SELECT count(*) FROM stocktakeapply 
		<where>
			<if test="begin_time != null and begin_time != ''">
				AND created_time &gt; #{begin_time}
			</if>
			<if test="end_time != null and end_time != ''">
				AND created_time &lt;= #{end_time}
			</if>
		</where>
	</select>

	<!-- 盘存记录查询 -->
	<select id="findAllStockRecord" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		SELECT * FROM
		<include refid="stockrecord" />
		ORDER BY t.id
		LIMIT
		#{startIndex},#{endIndex}
	</select>
	<select id="getStockRecordCount" resultType="int">
		SELECT COUNT(1) FROM
		<include refid="stockrecord" />
		ORDER BY t.id
	</select>
</mapper>